[Desktop Entry]
Name=Driver Manager
Comment=Manage the drivers for your devices
Exec=driver-manager
Icon=jockey
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
X-GNOME-Settings-Panel=driver-manager
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=mintdrivers
