[Desktop Entry]
Name=Driver Manager
Name[ro]=Driver Manager
Name[et]=Ajuri haldur
Name[sk]=Správca ovládačov
Name[am]=የ Driver አስተዳዳሪ
Name[de]=Treiber-Verwaltung
Name[pt_BR]=Gerenciador de Drivers
Name[pt_PT]=Gestor de controladores
Name[nl]=Stuurprogrammabeheerder
Name[ja]=ドライバマネージャ
Name[is]=Stjórnun rekla
Name[ne]=ड्राइभर म्यानेजर
Name[es]=Administrador de controladores
Name[ga]=Bainisteoir Tiománaí
Name[ru]=Driver Manager
Name[tr]=Sürücü Yöneticisi
Name[vi]=Quản lý Trình điều khiển
Name[ar]=Driver Manager
Name[pl]=Menedżer sterowników
Name[uk]=Менеджер драйверів
Name[fr]=Gestionnaire de pilotes
Name[hr]=Upravitelj upravljačkih programa
Name[bn]=ড্রাইভার ব্যবস্থাপক
Name[cs]=Správce ovladačů
Name[sl]=Upravljalnik gonilnikov
Name[it]=Gestore dei Driver
Name[pt]=Gestor de controladores
Name[ms]=Pengurus Pemacu
Name[ca]=Driver Manager
Name[fr_CA]=Gestionnaire de pilotes
Comment=Manage the drivers for your devices
Comment[ro]=Manage the drivers for your devices
Comment[et]=Halda ajureid oma seadmes
Comment[sk]=Správa ovládačov pre vaše zariadenia
Comment[am]=ለእርስዎ አካላቶች የ Driver አስተዳዳሪ
Comment[de]=Verwalten Sie die Treiber für Ihre Geräte
Comment[pt_BR]=Gerencie os drives dos seus dispositivos
Comment[pt_PT]=Gerir controladores de dispositivos
Comment[nl]=Beheer de stuurprogramma's voor uw apparaten
Comment[ja]=デバイスドライバを管理
Comment[is]=Sýsla með vélbúnaðarrekla fyrir tæki
Comment[ne]=डिभाइसहरुको ड्राइभरको व्यवस्थापन गर्नुहोस
Comment[es]=Administrar los controladores para sus dispositivos
Comment[ga]=Bainistigh na tiománaithe do do ghléasanna
Comment[ru]=Управление драйверами для вашего устройства
Comment[tr]=Aygıtlarınız için sürücülerinizi yönetin
Comment[vi]=Quản lý trình điều khiển cho các thiết bị của bạn
Comment[ar]=Manage the drivers for your devices
Comment[pl]=Zarządzaj sterownikami swoich urządzeń
Comment[uk]=Керуйте драйверами вашого пристрою
Comment[fr]=Gérer les pilotes de vos périphériques
Comment[hr]=Prilagodi upravljačke programe za svoje uređaje
Comment[bn]=আপনার ডিভাইসের জন্য ড্রাইভার ব্যবস্থাপনা করুন
Comment[cs]=Spravujte ovladače pro vaše zařízení
Comment[sl]=Upravljajte z gonilniki za vaše naprave
Comment[it]=Organizza i driver per i tuoi dispositivi
Comment[pt]=Gerir controladores de dispositivos
Comment[ms]=Urus pemacu untuk peranti anda
Comment[ca]=Manage the drivers for your devices
Comment[fr_CA]=Gérer les pilotes de vos périphériques
Exec=driver-manager
Icon=/usr/share/icons/hicolor/scalable/apps/driver-manager.svg
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
X-GNOME-Settings-Panel=driver-manager
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=mintdrivers
