[Desktop Entry]
Name=Driver Manager
Name[af]=Aandrywer Bestuurder
Name[ru]=Менеджер драйверов
Name[pt_BR]=Gerenciador de Drivers
Name[ar]=مدير التعريفات
Name[ka]=დრაივერის მენეჯერი
Name[sr]=Менаџер управљача
Name[ga]=Bainisteoir Tiománaí
Name[nds]=Treiber Verwaltung
Name[zh_TW]=驅動程式管理員
Name[sr@ijekavianlatin]=Менаџер управљача
Name[fr_CA]=Gestionnaire de pilotes
Name[sr@latin]=Менаџер управљача
Name[it]=Gestore dei Driver
Name[bn_IN]=ড্রাইভার ব্যবস্থাপক
Name[nb]=Driver Manager
Name[gd]=Manaidsear dràibhear
Name[tr]=Sürücü Yöneticisi
Name[pt]=Gestor de controladores
Name[ms]=Pengurus Pemacu
Name[cy]=Rheolwr Gyrwyr
Name[hu]=Illesztőprogram-kezelő
Name[hi]=Driver Manager
Name[es]=Administrador de controladores
Name[fa]=مدیریت گرداننده
Name[ky]=Драйвер менеджери
Name[zh_CN]=驱动管理器
Name[ca@valencia]=Administrador de controladors
Name[gl]=Administrador do controlador
Name[en_CA]=Driver Manager
Name[bn]=ড্রাইভার ব্যবস্থাপক
Name[id]=Manager Driver
Name[ja]=ドライバマネージャ
Name[mr]=ड्राइव्हर व्यवस्थापक
Name[ta]=இயக்கி மேலாளர்
Name[hr]=Upravitelj upravljačkih programa
Name[da]=Driverhåndtering
Name[sk]=Správca ovládačov
Name[ne]=ड्राइभर म्यानेजर
Name[en_GB]=Driver Manager
Name[vi]=Quản lý Trình điều khiển
Name[fi]=Ajuri manageri
Name[ko]=Driver Manager
Name[en_AU]=Driver Manager
Name[fr]=Gestionnaire de pilotes
Name[sv]=Drivrutinshanterare
Name[et]=Ajuri haldur
Name[eu]=Kontrolatzaile-kudeatzailea
Name[ca]=Gestor de controladors.
Name[am]=የ Driver አስተዳዳሪ
Name[uk]=Менеджер драйверів
Name[nl]=Stuurprogrammabeheer
Name[pt_PT]=Gestor de controladores
Name[de]=Treiberverwaltung
Name[is]=Stjórnun rekla
Name[cs]=Správce ovladačů
Name[ro]=Driver Manager
Name[sl]=Upravljalnik gonilnikov
Name[pl]=Menedżer sterowników
Comment=Manage the drivers for your devices
Comment[af]=Bestuur die aandrywers vir u toestelle
Comment[ru]=Управление драйверами для вашего устройства
Comment[pt_BR]=Gerencie os drives dos seus dispositivos
Comment[ar]=إدارة التعريفات لجهازك
Comment[ka]=Manage the drivers for your devices
Comment[sr]=Управљајте управљачима за своје уређаје
Comment[ga]=Bainistigh na tiománaithe do do ghléasanna
Comment[nds]=Verwalte die Treiber, für deine Geräte.
Comment[zh_TW]=管理裝置的驅動程式
Comment[sr@ijekavianlatin]=Управљајте управљачима за своје уређаје
Comment[fr_CA]=Gérer les pilotes de vos périphériques
Comment[sr@latin]=Управљајте управљачима за своје уређаје
Comment[it]=Organizza i driver per i tuoi dispositivi
Comment[bn_IN]=আপনার ডিভাইসের জন্য ড্রাইভার ব্যবস্থাপনা করুন
Comment[nb]=Håndter driverene for dine enheter
Comment[gd]=Stiùir na dràibhearan airson d' innleachdan
Comment[tr]=Aygıtlarınız için sürücülerinizi yönetin
Comment[pt]=Gerir controladores de dispositivos
Comment[ms]=Urus pemacu untuk peranti anda
Comment[cy]=Rheoli gyrwyr eich dyfais
Comment[hu]=Az eszközökhöz tartozó illesztőprogramok kezelése
Comment[hi]=Manage the drivers for your devices
Comment[es]=Administrar los controladores para sus dispositivos
Comment[fa]=گرداننده های دستگاه خود را مدیریت کنید
Comment[ky]=Manage the drivers for your devices
Comment[zh_CN]=管理您的设备驱动程序
Comment[ca@valencia]=Administrar els controladors dels seus dispositius
Comment[gl]=Administrar os controladores para os seus dispositivos
Comment[en_CA]=Manage the drivers for your devices
Comment[bn]=আপনার ডিভাইসের জন্য ড্রাইভার ব্যবস্থাপনা করুন
Comment[id]=Atur driver untuk perangkatmu
Comment[ja]=デバイスドライバを管理
Comment[mr]=आपल्या उपकरणांचे  ड्राइव्हर्स् व्यवस्थापित करा
Comment[ta]=உங்கள் சாதனங்களுக்கான இயக்கிகளை நிர்வகிக்க
Comment[hr]=Podesite upravljačke programe za svoje uređaje
Comment[da]=Håndtér driverne til dine enheder
Comment[sk]=Správa ovládačov pre vaše zariadenia
Comment[ne]=डिभाइसहरुको ड्राइभरको व्यवस्थापन गर्नुहोस
Comment[en_GB]=Manage the drivers for your devices
Comment[vi]=Quản lý trình điều khiển cho các thiết bị của bạn
Comment[fi]=Manage the drivers for your devices
Comment[ko]=Manage the drivers for your devices
Comment[en_AU]=Manage the drivers for your devices
Comment[fr]=Gérer les pilotes de vos périphériques
Comment[sv]=Hantera drivrutinerna för dina enheter
Comment[et]=Halda ajureid oma seadmes
Comment[eu]=Kudeatu zure gailuen kontrolatzaileak
Comment[ca]=Gestiona els controladors per als teus dispositius
Comment[am]=ለእርስዎ አካላቶች የ Driver አስተዳዳሪ
Comment[uk]=Керуйте драйверами вашого пристрою
Comment[nl]=Beheer de stuurprogramma's voor uw apparaten
Comment[pt_PT]=Gerir controladores de dispositivos
Comment[de]=Verwalten Sie die Treiber für Ihre Geräte
Comment[is]=Sýsla með vélbúnaðarrekla fyrir tæki
Comment[cs]=Spravujte ovladače pro vaše zařízení
Comment[ro]=Manage the drivers for your devices
Comment[sl]=Upravljajte z gonilniki za vaše naprave
Comment[pl]=Zarządzaj sterownikami swoich urządzeń
Exec=driver-manager
Icon=/usr/share/icons/hicolor/scalable/apps/driver-manager.svg
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;System;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
X-GNOME-Settings-Panel=driver-manager
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=mintdrivers
