[Desktop Entry]
Name=Driver Manager
Name[af]=Aandrywer Bestuurder
Name[am]=የ Driver አስተዳዳሪ
Name[ar]=مدير برامج التشغيل
Name[as]=ড্ৰাইভাৰ মেনেজাৰ
Name[az]=Drayver Meneceri
Name[be]=Кіраўнік драйвераў
Name[bg]=Управление на драйвери
Name[bn]=ড্রাইভার ব্যবস্থাপক
Name[bs]=Upravljač drajvera
Name[ca]=Gestor de controladors
Name[ca@valencia]=Administrador de controladors
Name[cs]=Správa ovladačů
Name[cy]=Rheolwr Gyrwyr
Name[da]=Driverhåndtering
Name[de]=Treiberverwaltung
Name[el]=Διαχειριστής οδηγών
Name[eo]=Pelila mastrumilo
Name[es]=Gestor de controladores
Name[et]=Draiverite haldur
Name[eu]=Kontrolatzaile-kudeatzailea
Name[fa]=مدیریت گرداننده
Name[fi]=Ajureiden hallinta
Name[fil]=Ayusin ang Driver
Name[fr]=Gestionnaire de pilotes
Name[fr_CA]=Gestionnaire de pilotes
Name[fy]=Stjoerprogramma behear
Name[ga]=Bainisteoir Tiománaí
Name[gd]=Manaidsear nan draibhearan
Name[gl]=Administrador do controlador
Name[he]=מנהל הנע־התקן
Name[hi]=ड्राइवर प्रबंधक
Name[hr]=Upravitelj upravljačkih programa
Name[hu]=Illesztőprogram-kezelő
Name[ia]=Gestor de driver
Name[id]=Manager Driver
Name[ie]=Gerente de driveres
Name[is]=Stjórnun rekla
Name[it]=Gestore dei driver
Name[ja]=ドライバーマネージャー
Name[jv]=Manajer Driver
Name[ka]=დრაივერის მენეჯერი
Name[kab]=Amsefrak n inuḍafen
Name[kk]=Драйверлердің менеджері
Name[ko]=드라이버 매니저
Name[ku]=Rêvebirê Ajoyan
Name[ky]=Драйвер менеджери
Name[la]=Administrator Gubernatorum Apparatuum
Name[lo]=ການຈັດການໄດຣເວີ
Name[lt]=Tvarkyklių valdytojas
Name[lv]=Draiveru pārvaldnieks
Name[ml]=ഡ്രൈവർ നിയന്ത്രിതാവ്
Name[mr]=ड्राइव्हर व्यवस्थापक
Name[ms]=Pengurus Pemacu
Name[nap]=Gestore d''i Driver
Name[nb]=Driverbehandler
Name[nds]=Treiber Verwaltung
Name[ne]=ड्राइभर म्यानेजर
Name[nl]=Stuurprogrammabeheer
Name[oc]=Gestionari de pilòts
Name[om]=Taliigaa ooftuu
Name[pa]=ਡਰਾਇਵਰ ਮੈਨੇਜਰ
Name[pap]=Atministrado di aparato
Name[pl]=Menedżer sterowników
Name[pt]=Gestor de controladores
Name[pt_BR]=Gerenciador de Drivers
Name[ro]=Administrator drivere
Name[ru]=Менеджер драйверов
Name[sc]=Manigiadore Driver
Name[sk]=Správca ovládačov
Name[sl]=Upravljalnik gonilnikov
Name[sq]=Menaxhuesi i driver-ave
Name[sr]=Управник управљачких програма
Name[sr@latin]=Menadžer upravljačkih programa
Name[sv]=Drivrutinshanterare
Name[ta]=இயக்கி நிர்வாகி
Name[tg]=Мудири драйверҳо
Name[th]=โปรแกรมจัดการไดรเวอร์
Name[tl]=Ayusin ang Driver
Name[tr]=Sürücü Yöneticisi
Name[uk]=Керування драйверами
Name[ur]=ڈرائیور منتظم
Name[uz]=Drayver menejeri
Name[vi]=Quản lý Trình điều khiển
Name[zh_CN]=驱动管理器
Name[zh_HK]=驅動程式管理員
Name[zh_TW]=驅動程式管理員
Comment=Additional and proprietary drivers
Comment[be]=Дадатковыя і прапрыетарныя драйверы
Comment[bg]=Допълнителни драйвери и драйвери със затворен код
Comment[ca]=Controladors addicionals i propietaris
Comment[ca@valencia]=Controladors addicionals i propietaris
Comment[cs]=Dodatečné a proprietární ovladače
Comment[cy]=Gyrrwyr ychwanegol a pherchnogol
Comment[da]=Yderligere og proprietære drivere
Comment[de]=Zusätzliche und proprietäre Treiber
Comment[el]=Πρόσθετοι και ιδιόκτητοι οδηγοί
Comment[eo]=Aldonaj kaj proprietaj peliloj
Comment[es]=Controladores adicionales y propietarios
Comment[et]=Lisa- ja omanduslikud draiverid
Comment[fi]=Lisäohjaimet ja valmistajan ajurit
Comment[fr]=Pilotes additionnels et propriétaires
Comment[fr_CA]=Pilotes additionels et propriétaires
Comment[he]=הנעי־התקן נוספים וקיניניים
Comment[hr]=Dodatni i vlasnički upravljački programi
Comment[hu]=További és zárt illesztőprogramok
Comment[ia]=Drivers additional e proprietari
Comment[is]=Viðbótar- og séreignarreklar
Comment[it]=Driver aggiuntivi e proprietari
Comment[lt]=Papildomos ir nuosavybinės tvarkyklės
Comment[nl]=Extra en niet-vrije stuurprogramma's
Comment[pl]=Dodatkowe i własnościowe sterowniki
Comment[pt]=Controladores adicionais e proprietários
Comment[pt_BR]=Drives adicionais e proprietários
Comment[ru]=Дополнительные и проприетарные драйверы
Comment[sk]=Dodatočné a proprietárne ovládače
Comment[sl]=Dodatni in lastniški gonilniki
Comment[sr]=Додатни и власнички управљачки програми
Comment[sr@latin]=Додатни и власнички управљачки програми
Comment[sv]=Övriga och proprietära drivrutiner
Comment[tr]=Sahipli ve ek sürücüler
Comment[uk]=Додаткові та пропрієтарні драйвери
Comment[uz]=Qo‘shimcha va xususiy drayverlar
Exec=driver-manager
Icon=mintdrivers
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;System;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-GNOME-Settings-Panel=driver-manager
X-KDE-SubstituteUID=true
NotShowIn=KDE;
