[Desktop Entry]
Name=Driver Manager
Name[af]=Aandrywer Bestuurder
Name[am]=የ Driver አስተዳዳሪ
Name[ar]=مدير برامج التشغيل
Name[as]=ড্ৰাইভাৰ মেনেজাৰ
Name[az]=Drayver Meneceri
Name[be]=Кіраўнік драйвераў
Name[bg]=Управление на драйвери
Name[bn]=ড্রাইভার ব্যবস্থাপক
Name[bs]=Upravljač drajvera
Name[ca]=Gestor de controladors
Name[ca@valencia]=Administrador de controladors
Name[cs]=Správa ovladačů
Name[cy]=Rheolwr Gyrwyr
Name[da]=Driverhåndtering
Name[de]=Treiberverwaltung
Name[el]=Διαχειριστής οδηγών
Name[eo]=Pelila mastrumilo
Name[es]=Gestor de controladores
Name[et]=Draiverite haldur
Name[eu]=Kontrolatzaile-kudeatzailea
Name[fa]=مدیریت گرداننده
Name[fi]=Ajureiden hallinta
Name[fil]=Ayusin ang Driver
Name[fr]=Gestionnaire de pilotes
Name[fr_CA]=Gestionnaire de pilotes
Name[fy]=Stjoerprogramma behear
Name[ga]=Bainisteoir Tiománaí
Name[gd]=Manaidsear nan draibhearan
Name[gl]=Administrador do controlador
Name[he]=מנהל ההתקנים
Name[hi]=ड्राइवर प्रबंधक
Name[hr]=Upravitelj upravljačkih programa
Name[hu]=Illesztőprogram-kezelő
Name[ia]=Gestor de driver
Name[id]=Manager Driver
Name[ie]=Gerente de driveres
Name[is]=Stjórnun rekla
Name[it]=Gestore dei driver
Name[ja]=ドライバーマネージャー
Name[jv]=Manajer Driver
Name[ka]=დრაივერის მენეჯერი
Name[kab]=Amsefrak n inuḍafen
Name[kk]=Драйверлердің менеджері
Name[ko]=드라이버 매니저
Name[ku]=Rêvebirê Ajoyan
Name[ky]=Драйвер менеджери
Name[la]=Administrator Gubernatorum Apparatuum
Name[lo]=ການຈັດການໄດຣເວີ
Name[lt]=Tvarkyklių tvarkytuvė
Name[lv]=Draiveru pārvaldnieks
Name[ml]=ഡ്രൈവർ നിയന്ത്രിതാവ്
Name[mr]=ड्राइव्हर व्यवस्थापक
Name[ms]=Pengurus Pemacu
Name[nap]=Gestore d''i Driver
Name[nb]=Driverbehandler
Name[nds]=Treiber Verwaltung
Name[ne]=ड्राइभर म्यानेजर
Name[nl]=Stuurprogrammabeheer
Name[oc]=Gestionari de pilòts
Name[om]=Taliigaa ooftuu
Name[pa]=ਡਰਾਇਵਰ ਮੈਨੇਜਰ
Name[pap]=Atministrado di aparato
Name[pl]=Menedżer sterowników
Name[pt]=Gestor de controladores
Name[pt_BR]=Gerenciador de Drivers
Name[ro]=Administrator drivere
Name[ru]=Менеджер драйверов
Name[sc]=Manigiadore Driver
Name[sk]=Správca ovládačov
Name[sl]=Upravljalnik gonilnikov
Name[sq]=Menaxhuesi i driver-ave
Name[sr]=Управник управљачких програма
Name[sr@latin]=Menadžer upravljačkih programa
Name[sv]=Drivrutinshanterare
Name[ta]=இயக்கி நிர்வாகி
Name[tg]=Мудири драйверҳо
Name[th]=โปรแกรมจัดการไดรเวอร์
Name[tl]=Ayusin ang Driver
Name[tr]=Sürücü Yöneticisi
Name[uk]=Керування драйверами
Name[ur]=ڈرائیور منتظم
Name[uz]=Drayver menejeri
Name[vi]=Quản lý Trình điều khiển
Name[zh_CN]=驱动管理器
Name[zh_HK]=驅動程式管理員
Name[zh_TW]=驅動程式管理員
Comment=Manage the drivers for your devices
Comment[af]=Bestuur die aandrywers vir u toestelle
Comment[am]=ለእርስዎ አካላቶች የ Driver አስተዳዳሪ
Comment[ar]=إدارة برامج التشغيل لأجهزتك
Comment[az]=Cihazlarınız üçün drayverləri idarə edin
Comment[be]=Кіраваць драйверамі для вашых прылад
Comment[bg]=Управление на драйверите за вашите устройства
Comment[bn]=আপনার ডিভাইসের জন্য ড্রাইভার ব্যবস্থাপনা করুন
Comment[bs]=Upravljajte drajverima vaših uređaja
Comment[ca]=Gestioneu els controladors per als vostres dispositius
Comment[ca@valencia]=Administrar els controladors dels seus dispositius
Comment[cs]=Spravovat ovladače vašich zařízení
Comment[cy]=Rheoli gyrwyr eich dyfais
Comment[da]=Håndtér driverne til dine enheder
Comment[de]=Die Treiber für Ihre Geräte verwalten
Comment[el]=Διαχειριστείτε τους οδηγούς για τις συσκευές σας
Comment[eo]=Administri la pelilojn por viaj aparatoj
Comment[es]=Gestionar los controladores de dispositivo
Comment[et]=Seadmete draiverite haldamine
Comment[eu]=Kudeatu zure gailuen kontrolatzaileak
Comment[fa]=گرداننده های دستگاه خود را مدیریت کنید
Comment[fi]=Hallitse laitteidesi ajureita
Comment[fil]=Pamahalaan ang controllers sa kanilang mga aparato
Comment[fr]=Gérer les pilotes de vos périphériques
Comment[fr_CA]=Gérer les pilotes de vos périphériques
Comment[fy]=Behear de stjoerprogrammas foar jo apparaten
Comment[ga]=Bainistigh na tiománaithe do do ghléasanna
Comment[gd]=Stiùirich draibhearan nan uidheaman agad
Comment[gl]=Administrar os controladores para os seus dispositivos
Comment[he]=ניהול מנהלי התקנים להתקנים שברשותך
Comment[hi]=उपकरण हेतु ड्राइवर प्रबंधन करें
Comment[hr]=Prilagodite upravljačke programe za svoje uređaje
Comment[hu]=Az eszközökhöz tartozó illesztőprogramok kezelése
Comment[ia]=Gerer le drivers de tu dispositivos
Comment[id]=Atur driver untuk perangkatmu
Comment[ie]=Controlar li driveres por vor aparates
Comment[is]=Sýsla með vélbúnaðarrekla fyrir tæki
Comment[it]=Gestisci i driver per i tuoi dispositivi
Comment[ja]=デバイスドライバーを管理します
Comment[jv]=Atur driver iki dinggo perangkatmu
Comment[kab]=Sefrek inuḍafen i yibenkan inek
Comment[kk]=Құрылғылар үшін драйверлерді басқару
Comment[ko]=장치 드라이버 관리
Comment[la]=Gubernatores tuorum apparatuum administra
Comment[lo]=ຈັດການໄດຣເວີສຳຫລັບອຸປະກອນຂອງທ່ານ
Comment[lt]=Nustatykite tvarkykles kompiuterio įrenginiams
Comment[lv]=Pārvaldīt draiverus jūsu ierīcēm
Comment[ml]=നിങ്ങളുടെ ഉപകരണത്തിനായി ഡ്രൈവറുകൾ നിയന്ത്രിക്കുക
Comment[mr]=आपल्या उपकरणांचे  ड्राइव्हर्स् व्यवस्थापित करा
Comment[ms]=Urus pemacu untuk peranti anda
Comment[nap]=Cagn 'e driver p''e fattappost d''e tuoie
Comment[nb]=Håndter driverene for dine enheter
Comment[nds]=Verwalte die Treiber, für deine Geräte.
Comment[ne]=डिभाइसहरुको ड्राइभरको व्यवस्थापन गर्नुहोस
Comment[nl]=Beheer de stuurprogramma's voor uw apparaten
Comment[oc]=Gerir los pilòts de vòstres periferics
Comment[om]=Mi'a keetif ooftota taliigi
Comment[pap]=Maneha e programanan pa bo aparatonan
Comment[pl]=Zarządzaj sterownikami swoich urządzeń
Comment[pt]=Gerir controladores de dispositivos
Comment[pt_BR]=Gerencie os drives dos seus dispositivos
Comment[ro]=Gestionați driverele pentru dispozitivele dumneavoastră
Comment[ru]=Управление драйверами для устройств
Comment[sco]=Manage the drivers fer yer devices
Comment[sk]=Správa ovládačov pre vaše zariadenia
Comment[sl]=Upravljajte z gonilniki za vaše naprave
Comment[sq]=Menaxhoni draiverat për pajisjet tuaja
Comment[sr]=Рукујте управљачким програмима уређаја
Comment[sr@latin]=Upravljajte upravljačkim programima Vaših uređaja
Comment[sv]=Hantera drivrutinerna för dina enheter
Comment[ta]=உங்கள் சாதனங்களுக்கான இயக்கிகளை நிர்வகிக்க
Comment[tg]=Идора кардани драйверҳо барои дастгоҳҳои шумо
Comment[th]=จัดการไดรเวอร์สำหรับอุปกรณ์ของคุณ
Comment[tl]=Pamahalaan ang controllers sa kanilang mga aparato
Comment[tr]=Aygıtlarınız için sürücülerinizi yönetin
Comment[uk]=Керування драйверами Вашого пристрою
Comment[ur]=اپنے آلات کے ڈرائیورز کا انتظام کریں
Comment[uz]=Qurilmalar uchun mavjud drayverlarni boshqarish
Comment[vi]=Quản lý trình điều khiển cho các thiết bị của bạn
Comment[zh_CN]=管理您的设备驱动程序
Comment[zh_HK]=管理你裝置的驅動程式
Comment[zh_TW]=管理您裝置的驅動程式
GenericName=Manage the drivers for your devices
GenericName[af]=Bestuur die aandrywers vir u toestelle
GenericName[am]=ለእርስዎ አካላቶች የ Driver አስተዳዳሪ
GenericName[ar]=إدارة برامج التشغيل لأجهزتك
GenericName[az]=Cihazlarınız üçün drayverləri idarə edin
GenericName[be]=Кіраваць драйверамі для вашых прылад
GenericName[bg]=Управление на драйверите за вашите устройства
GenericName[bn]=আপনার ডিভাইসের জন্য ড্রাইভার ব্যবস্থাপনা করুন
GenericName[bs]=Upravljajte drajverima vaših uređaja
GenericName[ca]=Gestioneu els controladors per als vostres dispositius
GenericName[ca@valencia]=Administrar els controladors dels seus dispositius
GenericName[cs]=Spravovat ovladače vašich zařízení
GenericName[cy]=Rheoli gyrwyr eich dyfais
GenericName[da]=Håndtér driverne til dine enheder
GenericName[de]=Die Treiber für Ihre Geräte verwalten
GenericName[el]=Διαχειριστείτε τους οδηγούς για τις συσκευές σας
GenericName[eo]=Administri la pelilojn por viaj aparatoj
GenericName[es]=Gestionar los controladores de dispositivo
GenericName[et]=Seadmete draiverite haldamine
GenericName[eu]=Kudeatu zure gailuen kontrolatzaileak
GenericName[fa]=گرداننده های دستگاه خود را مدیریت کنید
GenericName[fi]=Hallitse laitteidesi ajureita
GenericName[fil]=Pamahalaan ang controllers sa kanilang mga aparato
GenericName[fr]=Gérer les pilotes de vos périphériques
GenericName[fr_CA]=Gérer les pilotes de vos périphériques
GenericName[fy]=Behear de stjoerprogrammas foar jo apparaten
GenericName[ga]=Bainistigh na tiománaithe do do ghléasanna
GenericName[gd]=Stiùirich draibhearan nan uidheaman agad
GenericName[gl]=Administrar os controladores para os seus dispositivos
GenericName[he]=ניהול מנהלי התקנים להתקנים שברשותך
GenericName[hi]=उपकरण हेतु ड्राइवर प्रबंधन करें
GenericName[hr]=Prilagodite upravljačke programe za svoje uređaje
GenericName[hu]=Az eszközökhöz tartozó illesztőprogramok kezelése
GenericName[ia]=Gerer le drivers de tu dispositivos
GenericName[id]=Atur driver untuk perangkatmu
GenericName[ie]=Controlar li driveres por vor aparates
GenericName[is]=Sýsla með vélbúnaðarrekla fyrir tæki
GenericName[it]=Gestisci i driver per i tuoi dispositivi
GenericName[ja]=デバイスドライバーを管理します
GenericName[jv]=Atur driver iki dinggo perangkatmu
GenericName[kab]=Sefrek inuḍafen i yibenkan inek
GenericName[kk]=Құрылғылар үшін драйверлерді басқару
GenericName[ko]=장치 드라이버 관리
GenericName[la]=Gubernatores tuorum apparatuum administra
GenericName[lo]=ຈັດການໄດຣເວີສຳຫລັບອຸປະກອນຂອງທ່ານ
GenericName[lt]=Nustatykite tvarkykles kompiuterio įrenginiams
GenericName[lv]=Pārvaldīt draiverus jūsu ierīcēm
GenericName[ml]=നിങ്ങളുടെ ഉപകരണത്തിനായി ഡ്രൈവറുകൾ നിയന്ത്രിക്കുക
GenericName[mr]=आपल्या उपकरणांचे  ड्राइव्हर्स् व्यवस्थापित करा
GenericName[ms]=Urus pemacu untuk peranti anda
GenericName[nap]=Cagn 'e driver p''e fattappost d''e tuoie
GenericName[nb]=Håndter driverene for dine enheter
GenericName[nds]=Verwalte die Treiber, für deine Geräte.
GenericName[ne]=डिभाइसहरुको ड्राइभरको व्यवस्थापन गर्नुहोस
GenericName[nl]=Beheer de stuurprogramma's voor uw apparaten
GenericName[oc]=Gerir los pilòts de vòstres periferics
GenericName[om]=Mi'a keetif ooftota taliigi
GenericName[pap]=Maneha e programanan pa bo aparatonan
GenericName[pl]=Zarządzaj sterownikami swoich urządzeń
GenericName[pt]=Gerir controladores de dispositivos
GenericName[pt_BR]=Gerencie os drives dos seus dispositivos
GenericName[ro]=Gestionați driverele pentru dispozitivele dumneavoastră
GenericName[ru]=Управление драйверами для устройств
GenericName[sco]=Manage the drivers fer yer devices
GenericName[sk]=Správa ovládačov pre vaše zariadenia
GenericName[sl]=Upravljajte z gonilniki za vaše naprave
GenericName[sq]=Menaxhoni draiverat për pajisjet tuaja
GenericName[sr]=Рукујте управљачким програмима уређаја
GenericName[sr@latin]=Upravljajte upravljačkim programima Vaših uređaja
GenericName[sv]=Hantera drivrutinerna för dina enheter
GenericName[ta]=உங்கள் சாதனங்களுக்கான இயக்கிகளை நிர்வகிக்க
GenericName[tg]=Идора кардани драйверҳо барои дастгоҳҳои шумо
GenericName[th]=จัดการไดรเวอร์สำหรับอุปกรณ์ของคุณ
GenericName[tl]=Pamahalaan ang controllers sa kanilang mga aparato
GenericName[tr]=Aygıtlarınız için sürücülerinizi yönetin
GenericName[uk]=Керування драйверами Вашого пристрою
GenericName[ur]=اپنے آلات کے ڈرائیورز کا انتظام کریں
GenericName[uz]=Qurilmalar uchun mavjud drayverlarni boshqarish
GenericName[vi]=Quản lý trình điều khiển cho các thiết bị của bạn
GenericName[zh_CN]=管理您的设备驱动程序
GenericName[zh_HK]=管理你裝置的驅動程式
GenericName[zh_TW]=管理您裝置的驅動程式
Exec=pkexec driver-manager
Icon=mintdrivers
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Qt;KDE;System;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
