Source: mintdrivers
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mintdrivers
Architecture: all
Depends: mintsystem (>= 8.4.8),
         python3 (>= 3.3),
         python3-gi,
         python3-psutil,
         python3-aptdaemon,
         python3-aptdaemon.gtk3widgets,
         ubuntu-drivers-common,
         gir1.2-xapp-1.0,
         gir1.2-packagekitglib-1.0,
         packagekit,
         ${misc:Depends},
Description: Driver Manager
 Manage the drivers for your devices.
